@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@300;400;500;700&display=swap");

/* Global */
section::-webkit-scrollbar {
  width: 8px;
}

section::-webkit-scrollbar-thumb {
  height: 30%;
  background: #d3d3d3;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --primary-color: #f8cd07;
  --secondary-color: #8250df;
  --background-color: #f5f5f5;
}

.container {
  width: 100%;
  padding: 3rem 15%;
  background-color: var(--background-color);
  background-image: radial-gradient(#f8cd07 9%, transparent 0),
    radial-gradient(#f8cd07 5%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

/* COMP */
.box {
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 300vw;
  flex-direction: row;
  transform: translateX(0vw);
  transition: transform 0.5s ease;
}

.profile_comp {
  width: 100%;
  height: 100%;
}

/* Container */
.detail_container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--background-color);
}

.detail_container > h1 {
  color: var(--secondary-color);
  font-size: 2.7rem;
  letter-spacing: 0.3rem;
}

/* Profile */
.profile_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3.3rem;
  margin-block: 2.25rem;
}

.profile_image {
  width: 425px;
  height: 400px;
  border: var(--secondary-color);
}

.profile_image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid rgba(130, 80, 223, 0.5);
}

.profile_info {
  font-size: 2rem;
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-block: 0.7rem;
}

.info_item > h5 {
  color: var(--secondary-color);
}

.info_item > p {
  font-size: 1.4rem;
  font-weight: 600;
}

.info_item > a {
  font-size: 1.4rem;
  padding: 0;
  font-weight: 600;
}

/* Description */
.profile_description_title {
  color: #8250df;
  font-weight: 600;
}

.profile_description {
  width: 450px;
  height: 100px;
  padding-right: 0.5rem;
  min-width: 39%;
  line-height: 1.5rem;
  letter-spacing: 0.065rem;
  word-break: keep-all;
  font-weight: 700;
  margin-block: 0.5rem;
  overflow-y: scroll;
}

.profile_description > h1 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-block: 1rem;
}

/* Hobby */
.profile_hobby {
  width: 700px;
  min-width: 60%;
}

.profile_hobby > h1 {
  font-size: 2rem;
  color: var(--secondary-color);
}

.hobby_list {
  text-align: center;
  list-style: none;
  margin-block: 1rem;
  display: flex;
  gap: 3.5rem;
}

.hobby_list p {
  font-size: 3rem;
  margin-bottom: 2px;
}

/* Button Container */
.button_container {
  position: absolute;
  bottom: 7%;
  right: 7%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.button_container button {
  font-size: 3rem;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 50%;
  border: none;
  transition: opacity 0.5s ease;
  opacity: 0.5;
  cursor: pointer;
}

.button_container button:hover {
  opacity: 1;
  background-color: #3b3b3b;
}
